// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

// Over ride spacing of lists

li {
    > ul,
    > ol {
      margin-top: $spacing-unit/3;
      margin-bottom: 0;
    }
  }

dt {
    font-weight: bold;
}

dd {
    display: block;
    margin-inline-start: 40px;
    margin-top: 10px;
}

.imagebox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
