@charset "utf-8";

// Placeholder to allow overriding predefined variables smoothly.
$spacing-unit:     20px;

//$code-text-color:  $text-color
//$background-color:      #7e8288 !default;
$post-header-color:      $background-color;
$post-background-color:  $background-color;

//background: url(../images/body-background.png) #eae6d1;

